In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-11-20 10:49:48,-9.8000,-139.0333,76.75,76,68,10.02
1,1,Chapais,CA,2022-11-20 10:49:48,49.7834,-74.8492,20.98,95,100,5.37
2,2,Aktash,RU,2022-11-20 10:49:49,50.3000,87.7333,11.73,94,100,3.47
3,3,Busselton,AU,2022-11-20 10:49:49,-33.6500,115.3333,59.94,64,0,16.53
4,4,Jamestown,US,2022-11-20 10:46:12,42.0970,-79.2353,22.71,77,100,16.11

In [3]:
# One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number.

In [4]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# How would you convert the following for loop using list comprehension?
# for temp in max_temp:
    # temps.append(max(temp, 0))

# [max(temp, 0) for temp in max_temp]

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-11-20 10:49:48,-9.8000,-139.0333,76.75,76,68,10.02
6,6,Victoria,HK,2022-11-20 10:45:50,22.2855,114.1577,79.18,79,22,13.00
7,7,Morant Bay,JM,2022-11-20 10:49:50,17.8815,-76.4093,78.42,84,70,9.01
10,10,Salalah,OM,2022-11-20 10:49:52,17.0151,54.0924,84.29,51,0,8.05
23,23,Hithadhoo,MV,2022-11-20 10:49:57,-0.6000,73.0833,81.19,77,5,9.82
25,25,Likasi,CD,2022-11-20 10:49:58,-10.9814,26.7333,82.72,47,7,6.11
28,28,Dondo,MZ,2022-11-20 10:49:59,-19.6094,34.7431,89.11,45,3,14.56
31,31,Dingle,PH,2022-11-20 10:50:00,10.9995,122.6711,77.72,89,100,5.21
32,32,Hermanus,ZA,2022-11-20 10:50:01,-34.4187,19.2345,75.79,58,4,12.88
35,35,Asandh,IN,2022-11-20 10:50:02,29.5167,76.6000,77.18,20,73,6.73

In [22]:
# determine if there are null values for rows in preferred_cities_df
# preferred_cities_df.count()
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()

In [21]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [23]:
# drop null values w/ dropna() method at end of filtering statement when creating the new DataFrame

In [24]:
# 6.5.4 Map Vacation Criteria
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Atuona      PF     76.75  -9.8000 -139.0333
6     Victoria      HK     79.18  22.2855  114.1577
7   Morant Bay      JM     78.42  17.8815  -76.4093
10     Salalah      OM     84.29  17.0151   54.0924
23   Hithadhoo      MV     81.19  -0.6000   73.0833
25      Likasi      CD     82.72 -10.9814   26.7333
28       Dondo      MZ     89.11 -19.6094   34.7431
31      Dingle      PH     77.72  10.9995  122.6711
32    Hermanus      ZA     75.79 -34.4187   19.2345
35      Asandh      IN     77.18  29.5167   76.6000

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [27]:
#  How to handle IndexError to get code to run?
#  try-except block

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,76.75,-9.8000,-139.0333,Villa Enata
6,Victoria,HK,79.18,22.2855,114.1577,Mini Central
7,Morant Bay,JM,78.42,17.8815,-76.4093,Whispering Bamboo Cove Resort
10,Salalah,OM,84.29,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
23,Hithadhoo,MV,81.19,-0.6000,73.0833,Scoop Guest House
25,Likasi,CD,82.72,-10.9814,26.7333,TABERNACLE DE LIKASI
28,Dondo,MZ,89.11,-19.6094,34.7431,Pensao Casual
31,Dingle,PH,77.72,10.9995,122.6711,SEGAYA PROPERTY
32,Hermanus,ZA,75.79,-34.4187,19.2345,Misty Waves Boutique Hotel
35,Asandh,IN,77.18,29.5167,76.6000,The baba royal hotel

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))